#############
# API SETUP #
#############
## Django superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=pass

VITE_API_URL=https://localhost
VITE_WEBSOCKET_URL=wss://localhost

###############
# RDBMS SETUP #
###############
POSTGRES_DB=my_database
POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_password


##############
# CERT SETUP #
##############
CSR_COUNTRY=JP
CSR_STATE=Tokyo
CSR_LOCALITY=Sinjyuku
CSR_ORGANIZATION=Company
CSR_ORGANIZATIONAL_UNIT=Department
CSR_COMMON_NAME=ft_transcendence


################
# ELASTICACHE  #
################
ELASTIC_VERSION=8.17.2

# Superuser role, full access to cluster management and data indices.
# https://www.elastic.co/guide/en/elasticsearch/reference/current/built-in-users.html
ELASTIC_PASSWORD='changeme'

# User 'logstash_internal' (custom)
#
# The user Logstash uses to connect and send data to Elasticsearch.
# https://www.elastic.co/guide/en/logstash/current/ls-security.html
LOGSTASH_INTERNAL_PASSWORD='changeme'

# User 'kibana_system' (built-in)
#
# The user Kibana uses to connect and communicate with Elasticsearch.
# https://www.elastic.co/guide/en/elasticsearch/reference/current/built-in-users.html
KIBANA_SYSTEM_PASSWORD='changeme'

# Users 'metricbeat_internal', 'filebeat_internal' and 'heartbeat_internal' (custom)
#
# The users Beats use to connect and send data to Elasticsearch.
# https://www.elastic.co/guide/en/beats/metricbeat/current/feature-roles.html
FILEBEAT_INTERNAL_PASSWORD='changeme'

# User 'beats_system' (built-in)
#
# The user the Beats use when storing monitoring information in Elasticsearch.
# https://www.elastic.co/guide/en/elasticsearch/reference/current/built-in-users.html
BEATS_SYSTEM_PASSWORD='changeme'