# FRONTEND
export VITE_API_URL=
export VITE_WEBSOCKET_URL=

# BACKEND
export DJANGO_SUPERUSER_USERNAME=
export DJANGO_SUPERUSER_EMAIL=
export DJANGO_SUPERUSER_PASSWORD=

# DB
export POSTGRES_DB=
export POSTGRES_USER=
export POSTGRES_PASSWORD=

# CERT
export CSR_COUNTRY=
export CSR_STATE=
export CSR_LOCALITY=
export CSR_ORGANIZATION=
export CSR_ORGANIZATIONAL_UNIT=
export CSR_COMMON_NAME=
