#############
# API SETUP #
#############
## Django superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=pass
SECRET_KEY='8j3o2c@xo^@)evj7es4i2)v*zcoht2zb=ce@l00&z3v8&r$)j='

VITE_API_URL=https://localhost
VITE_WEBSOCKET_URL=wss://localhost

###############
# RDBMS SETUP #
###############
POSTGRES_DB=my_database
POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_password

##############
# CERT SETUP #
##############
CSR_COUNTRY=JP
CSR_STATE=Tokyo
CSR_LOCALITY=Sinjyuku
CSR_ORGANIZATION=Company
CSR_ORGANIZATIONAL_UNIT=Department
CSR_COMMON_NAME=ft_transcendence

###############
# ELASTICACHE #
###############
ELASTIC_VERSION=8.17.2
ELASTIC_USER=elastic
ELASTIC_PASSWORD=changeme
LOGSTASH_INTERNAL_PASSWORD=changeme
KIBANA_SYSTEM_PASSWORD=changeme
FILEBEAT_INTERNAL_PASSWORD=changeme
METRICBEAT_INTERNAL_PASSWORD=changeme
MONITORING_INTERNAL_PASSWORD=changeme
BEATS_SYSTEM_PASSWORD=changeme

###############
# BLOCKCHAIN  #
###############
BLOCKCHAIN_RPC_URL=https://sepolia.infura.io/v3/6c1109f241ab4df28479c8335bfcd384
BLOCKCHAIN_PRIVATE_KEY=dry-run
BLOCKCHAIN_CONTRACT_ADDRESS=0x71DB32Be1B8285f5f1bB49025b9F79F982d8bE8f
