// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import "bootstrap/scss/variables";

.bg-darkblue {
  background-color: $blue-900;
}

.shift-up-200 {
  margin-top: -200px;
}

.no-pointer-events {
  pointer-events: none;
}
